<html>
  <head>
    <title>PDF</title>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <div class="header_center">
      Ordem de Sevico
  </div>
    <div class="flex flex-container">1</div>
    <div>2</div>
    <div>3</div>
  </div>
</html>
